<div class="page-title">
  <h4>Категории</h4>
  <button class="waves-effect waves-light btn grey darken-1" routerLink="new">Добавить категорию</button>
</div>

<div class="row" *ngIf="categories$ | async as categories; else loading">
  <div class="col s12">
    <div class="collection" *ngIf="categories.length !== 0; else empty">
      <a *ngFor="let category of categories" [routerLink]=category._id class="collection-item">{{category.name}}</a>
    </div>
    <ng-template #empty>
      <div class="center">Категории не найдены</div>
    </ng-template>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<ng-template #empty></ng-template>

<router-outlet></router-outlet>
