<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small modal-trigger"
              (click)="onAddPosition()">
        Добавить позицию
      </button>
    </div>
    <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length !== 0; else empty">
        <a
          *ngFor="let position of positions"
          (click)="onSelectPosition(position)"
          class="collection-item collection-item-icon">
        <span>
          {{position.name}}<strong> {{position.cost}} руб.</strong>
        </span>
          <span>
          <i (click)="onDeletePosition($event, position)" class="material-icons">delete</i>
        </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">Позиции не найдены</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input id="pos-name" type="text" required formControlName="name"
               [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}">
        <label for="pos-name">Название</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
        Название не может быть пустым
      </span>
      </div>
      <div class="input-field">
        <input id="pos-cost" type="text" required formControlName="cost"
               [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}">
        <label for="pos-cost">Цена</label>
        <span class="helper-text red-text" *ngIf="form.get('cost').invalid && form.get('cost').touched">
        Введите корректную цену
      </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat" [disabled]="form.disabled">Отмена</button>
      <button type="submit" class="modal-action btn waves-effect" [disabled]="form.disabled || form.invalid">Сохранить</button>
    </div>
  </div>
</form>
