<form
  class="card"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
><div class="card">
  <div class="card-content">
    <span class="card-title">Создать аккаунт</span>
    <div class="input-field">
      <input id="email" type="email" formControlName="email">
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="myForm.get('email').invalid && myForm.get('email').touched"
      >
          <span *ngIf="myForm.get('email').errors.email">
            Введите корректный Email
          </span>
          <span *ngIf="myForm.get('email').errors.required">
            Заполните поле
          </span>
        </span>
    </div>
    <div class="input-field">
      <input id="password" type="password" formControlName="password">
      <label for="password">Пароль:</label>

      <span
        class="helper-text red-text"
        *ngIf="myForm.get('password').invalid && myForm.get('password').touched"
      >
          <span *ngIf="myForm.get('password').errors.required">
            Заполните это поле
          </span>
          <span *ngIf="myForm.get('password').errors.minlength && myForm.get('password').errors.minlength.requiredLength ">
            Пароль должен быть больше или равен {{myForm.get('password').errors.minlength.requiredLength}} символов. Сейчас длина равна {{myForm.get('password').errors.minlength.actualLength}}
          </span>
        </span>
    </div>
  </div>
  <div class="card-action">
    <button class="modal-action btn waves-effect">Создать</button>
  </div>
</div></form>


