<div class="page-title">
  <h4>История заказов</h4>
  <button
    (click)="isFilterVisible = !isFilterVisible"
    [ngClass]="{
    'active': isFilterVisible,
    'red': isFiltered()
    }"
    class="btn btn-small"
    data-tooltip="Открыть фильтр"
    data-position="left"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>
<app-history-filter
  (onFilter)="applyFilter($event)"
  *ngIf="isFilterVisible"></app-history-filter>
<div *ngIf="!reloading; else loader">
  <div *ngIf="orders.length !== 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>
    <div class="center mb2" *ngIf="!noMoreOrders">
      <button class="btn waves-effect grey darken-1 btn-small" (click)="loadMoreOrders()"
              *ngIf="!loading; else loader"
      >Загрузить еще</button>
    </div>
  </div>

</div>

<ng-template #empty>
  <div class="center">
    Заказы не найдены
  </div>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
