<table class="highlight mb2">
  <thead>
  <tr>
    <th>№</th>
    <th>Дата</th>
    <th>Время</th>
    <th>Сумма</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.order}}</td>
    <td>{{order.date | date: 'dd.MM.yyyy'}}</td>
    <td>{{order.date | date: 'HH:mm:ss'}}</td>
    <td>{{computePrice(order)}} руб.</td>
    <td>
      <button class="btn btn-small modal-trigger grey darken-1" (click)="selectModal(order)">
        <i class="material-icons">open_in_new</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="modal modal-fixed-footer" #modal>
  <div class="modal-content"
  *ngIf="selectedOrder"
  >
    <h4 class="mb1">Заказ №{{selectedOrder.order}}</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of selectedOrder.list">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.cost}} руб.</td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>Общая стоимость <strong>{{computePrice(selectedOrder)}} руб.</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" (click)="closeModal()">Закрыть</button>
  </div>
</div>
