<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Войти в систему</span>
      <div class="input-field">
        <input id="email" type="email" formControlName="email">
        <label for="email">Email:</label>
        <span
          class="helper-text red-text"
          *ngIf="form.get('email').invalid && form.get('email').touched"
        >
          <span *ngIf="form.get('email').errors.email">
            Введите корректный Email
          </span>
          <span *ngIf="form.get('email').errors.required">
            Заполните поле
          </span>
        </span>
      </div>
      <div class="input-field">
        <input id="password" type="password" formControlName="password">
        <label for="password">Пароль:</label>

        <span
          class="helper-text red-text"
          *ngIf="form.get('password').invalid && form.get('password').touched"
        >
          <span *ngIf="form.get('password').errors.required">
            Заполните это поле
          </span>
          <span *ngIf="form.get('password').errors.minlength && form.get('password').errors.minlength.requiredLength ">
            Пароль должен быть больше или равен {{form.get('password').errors.minlength.requiredLength}} символов. Сейчас длина равна {{form.get('password').errors.minlength.actualLength}}
          </span>
        </span>
      </div>
    </div>
    <div class="card-action">
      <button
        class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >Войти
      </button>
    </div>
  </div>
</form>


